
{% load static %}
  <!-- Footer -->
  <footer class="site-navigation text-right text-md-center" role="navigation" style="background-color:#DFEEFA;">
    <!-- Section: Links -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3">Little Bubs</i>
                        <div class="site-logo">
                            <img src="{% static 'images/logo.png' %}" alt="Little Bubs Logo" class="img-fluid"
                                style="max-width: 100%; height: auto; max-height: 100px; width: auto;">
                        </div>
                    </h6>
                    <p>
                        Little Bub advocates for a simpler, kinder, and more sustainable world, aiming to provide a
                        legacy that our children can both enjoy and inherit. 
                    </p>
                   
                </div>
                
                   <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Customer Service </h6>
                    
                     <p><a href=""
                            class="text-reset">Track Your Order</a></p>
                    <p><a href=""
                            class="text-reset"> Contact Us </a></p>
                    <p><a href=""
                            class="text-reset">Terms - and - Conditions</a></p>
                    <p><a href="{% url 'buttercheecks:returnrefund' %}"
                            class="text-reset">Return/ Exchange </a></p>
                            
                           

                   
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                    <p><a href="{% url 'buttercheecks:swaddles-and-blankets' %}"
                            class="text-reset">Swaddles and Blankets</a></p>
                    <p><a href="{% url 'buttercheecks:clothings' %}"
                            class="text-reset">Baby Clothings </a></p>
                    <p><a href="{% url 'buttercheecks:nursing-supplies' %}"
                            class="text-reset">Nursing Supplies</a></p>
                  <p><a href="{% url 'buttercheecks:baby-beddings' %}"
                            class="text-reset">Baby Beddings</a></p>
                </div>
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3"></i> 1, Kosavam Palayam Road
                        Palladam, Tamil Nadu 641664</p>
                    <p><i class="fas fa-envelope me-3"></i> info@littlebubs.in</p>
                    <p><i class="fas fa-mobile me-3"></i> +91 9791484445</p>
                </div>
                <!-- Grid column -->
<!-- Grid column -->
<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
    <!-- Facebook -->
    <a href="https://www.facebook.com/home.php?__req=i" style="color: ">

    <i class="fab fa-facebook-f mr-3"></i></a>

    <a href="https://in.pinterest.com/littlebubs_clothings/pins/" style="color:red; ">
    <i class="fab fa-pinterest mr-3"></i></a>
    <!-- Youtube -->
    <a href="https://www.youtube.com/channel/UC1rSxVluOeUwoYJV32q4nbQ" style="color:red; "><i class="fab fa-youtube mr-3"></i></a>

</div>

<!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        
    </section>
    <!-- Section: Links -->
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color:#B9D1E4;">
               <a class="text-reset fw-bold" href="https://littlebubs.in/"> Little Bubs under Akptex &copy; 2024. All rights reserved.
</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->